h1 {
    color: crimson;
}
img {
    width: 400px;
}
#thirdDiv {
   height: 600px;
   width: 500 px;
   background: yellowgreen;
   padding: 50px;
   border: 2px solid aquamarine ; 
}
#spanId {
    font-size: 18px;
    margin: 50px;
}